@media (max-width: 768px){
  .font-2 { 
    font-size: 60px;
    line-height: 55px;
  }

  .font-3 {
    font-size: 35px;
    line-height: 35px;
  }
  .font-testi {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .font-1 {
  font-size: 20px;
  line-height: 25px;
}
  .titolo-sezioni {
    font-size: 30px;
    line-height: 50px;
    font-weight: 500;
  }
 .titolo-sezioni2 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
}
.titolo-prog {
  font-size: 25px;
  line-height: 50px;
  font-weight: 500;
}
  .img-prog {
    width: 100%;
    height: auto;
  }
  .img-rugby {
    width: 100%;      
    height: auto;      
  }
  .foto-2 {
    height: 300px;
  }
  .sfondo-2 {
    min-height: 400px;
    margin-bottom: 15px;
    position: relative;
  }
  .rettangolo-3 {
    width: 150px;
    height: 350px;
  }
  .rettangolo-4 {
  width: 100%;
  height: 160px;
  top: auto;
  bottom: auto;
  position: relative;
  margin-top: 20px;
  opacity: 0.25;
}
  .black-progetti{
  background-color: #1C1C1C;
  margin-top: -22px;
  margin-bottom: -24px;
  min-height: 5vh;

}
.rettangolo-1 {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  height: 220px;
  width: 120px;
  opacity: 0.3;
}
.rettangolo-1 {
  width: 200px;
  height: 420px;
  background-color: #FA3500;
  border: 1px solid #FA3500;
  opacity: 0.4;
  right: 5%;
  margin-top: 5%;
}
}
