/* stile_esercizio2.css */
/* * {
    outline: solid 1px red;
} */

/*BASE*/
html, body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
}

/*STRUTTURA E SFONDI*/
.bg-black {
  background-color: #1C1C1C;
  margin-bottom: 38px;
}

/* Sfondi sezioni */
.sfondo-1 {
  background-color: #FA3500;
  margin-top: 38px;
}

.sfondo-2 {
  background: transparent url('../img/ancona.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  margin-top: 38px;
}

.sfondo-2 .row {
  min-height: 500px;
}

/*ELEMENTI GRAFICI*/
.rettangolo {
  width: 590px;
  height: 235px;
  background-color: #FA3500;
  border: 1px solid #FA3500;
  opacity: 0.6;
  position: absolute;
  top: 43%;
  transform: translate(-60%, 2%);
}
.rettangolo-1 {
  width: 210px;
  height: 675px;
  background-color: #FA3500;
  border: 1px solid #FA3500;
  opacity: 0.6;
  position: absolute;
  right: 10%;
  margin-top: 8%;
}

.foto {
  width: 670px;
  height: 500px;
  background-image: url('../img/foto.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
}


.p-rel {
  position: relative; /* serve per posizionare gli elementi sopra */
}

/*NAVIGAZIONE DESKTOP*/
.nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #FA3500;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  white-space: nowrap;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link.selected {
  color: #ffffff;
  cursor: default;
}

/* NAVIGAZIONE MOBILE*/
.btn-menu {
  background: transparent url('../img/menu_hamburger.svg') no-repeat center center;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 0; /* Nasconde il testo del bottone */
  margin: 10px 5px !important;
}

.btn-menu:hover {
  background-image: url('../img/menu_hamburger_bianco.svg');
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-close {
  background: transparent url('../img/close.svg') no-repeat center center;
  background-size: cover;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 0; /* Nasconde il testo del bottone */
  position: absolute;
  top: 30px;
  right: 30px;
}

.mobile-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  z-index: 1000;
  display: flex;
  padding-top: 33%;
  justify-content: center;
  align-items: flex-start;
  display: none;
}

.mobile-nav-wrapper .nav-list {
  flex-direction: column;
  padding-top: 60px;
}

.mobile-nav-wrapper .nav-item {
  margin: 20px 0;
  width: 100%;
}

.mobile-nav-wrapper .nav-link {
  font-size: 24px;
  padding: 8px 0;
}

.mobile-nav-wrapper .nav-link.selected {
  color: #FA3500;
  border-bottom: none;
  cursor: default;
}

.mobile-nav-wrapper .nav-link:hover {
  color: #ffffff;
  border-bottom: none;
}

.mobile-nav-wrapper.show {
  display: flex;
}

/*TESTI E COLORI*/
.font-1 {
  font-size: 25px;
  line-height: 25px;
}

.font-2 {
  font-size: 80px;
  line-height: 75px;
}

.font-3 {
  font-size: 35px;
  line-height: 35px;
  font-weight: lighter;
}

.font-testi {
  font-size: 18px;
  line-height: 25px;
  color: #1C1C1C;
}

.strong {
  font-size: 45px;
  line-height: 80px;
}

.strong-1 {
  font-size: 35px;
  line-height: 80px;
  color: #FA3500;
  font-weight: 500;
}

.color-red {
  color: #FA3500;
}

/* Immagine + rettangolo rosso sopra */
.foto-2 {
  height: 500px;
  background-image: url('../img/unirsm.jpg'); 
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 38px;
}

.rettangolo-3 {
  width: 200px;
  height: 550px;
  background-color: #FA3500;
  opacity: 0.6;
  position: absolute;
  top: -20px;
}
.rettangolo-4 {
  width: 745px;
  height: 275px;
  background-color: #FA3500;
  opacity: 0.6;
  position: absolute;
  top: 10px;
  right: 5px;
  color: #1C1C1C;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
  .rettangolo {
    width: 570px;
    height: 220px;
    top: 40%;
    transform: translate(-41%, 12%);
  }
  .rettangolo-1 {
    width: 100px;
    height: 230px;
    right: 5%;
    opacity: 0.5;
  }
  .rettangolo-3 {
  width: 150px;
  height: 550px;
  opacity: 0.6;
}
.rettangolo-4 {
  opacity: 0.6;
}
  .sfondo-2 {
    background-position: center center;  
    background-size: cover;            
    min-height: 225px;                    
  }
  .strong-1 {
  font-size: 25px;
  line-height: 60px;
  color: #FA3500;
  font-weight: 500;
}

.font-testi {
  font-size: 14px;
  line-height: 18px;
  color: #1C1C1C;
}
.strong {
  font-size: 35px;
  line-height: 60px;
}
.font-2 {
  font-size: 55px;
  line-height: 65px;
}


}



